.footer {
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  padding-top: 1px;
  height:100px;
}

.formContainer {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.formContainer textarea {
  width: 100%;
  resize:none;
}
