.lobbyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.lobby {
  display: flex;
  gap: 5px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main {
  display: flex;
  flex-direction: column;
}
