.lobbyContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.lobby {
  gap: 5px;

  border-radius: 1rem;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main {
  display: flex;
}

.tryAgainDiv {
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.backBtn {
  color:orange;
  background-color:black;
  height:40px;
  width:100px;

}